<% if flash['notice'] %>
  <div class="alert alert-success">
    <%= flash['notice'] %>
  </div>
<% end %>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Emailid:</strong>
  <%= @user.email %>
</p>

<%= link_to edit_user_registration_path, title: "Edit", class: "btn btn-info btn-sm" do %>
Edit Profile
  <span class="glyphicon glyphicon-edit"></span>
<% end %>
