<div class="row">
  <h2>Add New Blog</h2>
  <%= form_for(@post) do |f| %>
    <div class="col-md-6">
      <% if @post.errors.any? %>
        <% @post.errors.full_messages.each do |message| %>
          <div class="alert alert-danger">
            <%= message %>
          </div>
        <% end %>
      <% end %>
      <div class="form-group">
        <%= f.label :title, 'Title:' %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :blog_content, 'Blog Content' %>
        <%= f.text_area :content, class: "form-control" %>
      </div>
      <%= hidden_field(:post, :author_id, value: "1") %>
      <%= f.submit "Submit", class: "btn btn-default"  %>
    </div>
  <% end %>
</div>