<!DOCTYPE html>
<html>
<head>
  <title>Blogapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Navigation Bar -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "BlogApp", posts_url, class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", posts_url %></li>
        <% if session[:user_id] %> <li><%= link_to "Profile", user_path(session[:user_id]) %></li> <% end %>
        <li><%= link_to "About", posts_url%></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% unless session[:user_id]  %>
        	<li>
        	  <%= link_to new_user_url do %>
            	Sign Up
              <span class="glyphicon glyphicon-user"></span>
            <% end %>
  		    </li>
        	<li>
        	  <%= link_to login_path do %>
            	Login
              <span class="glyphicon glyphicon-log-in"></span>
            <% end %>
  		    </li>
        <% else %>
          <li>
            <%= link_to logout_path, method: :delete do %>
              Logout
              <span class="glyphicon glyphicon-log-out"></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
  <!-- Navigation End https://www.w3schools.com/bootstrap/bootstrap_navbar.asp-->
  <!-- sidebar and page content -->
  <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-md-2 col-sm-2 col-lg-2 sidenav">
        <% if session[:user_id]  %>
          <p><%= link_to "Add Blog", new_post_url %></p>
        <% end %>
        <p><%= link_to "All Blog", posts_url %></p>
      </div>
      <div class="col-md-10 col-sm-10 col-lg-10 text-left"> 
        <%= yield %>
      </div>
     <!--  <div class="col-md-2 col-sm-2 col-lg-2 sidenav">
        <div class="well">
          <p>ADS</p>
        </div>
        <div class="well">
          <p>ADS</p>
        </div>
      </div> -->
    </div>
  </div>
  <!-- sidebar adn page content end https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_temp_webpage&stacked=h -->
  <footer class="container-fluid text-center" style="margin-top: 50px;">
    <p>Footer Text</p>
  </footer>
</body>
</html>
